.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

/* MOBILE */
@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
