.contact-section {
  margin-bottom: 94px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.contact-first {
  box-sizing: border-box;
  display: flex;
  width: 320px;
  padding: 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px;
  background: var(--white);
}
.red-star-svg-contact {
  width: 35px;
  height: 35px;
  fill: var(--red);
  stroke: var(--red);
}
.contact-title {
  color: var(--black);
  text-align: center;
  font-size: 32px;
  font-weight: 700;

  text-transform: uppercase;
}
.title-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  align-self: stretch;
  margin-bottom: 12px;
}
.contact-subtitle {
  align-self: stretch;
  color: var(--gray);
  text-align: center;
  font-size: 17px;
  line-height: 1.65;
  width: 288px;

  margin-bottom: 25px;
}
.working-hours {
  display: flex;
  align-items: center;
  gap: 12px;
}

.mail-link {
  color: var(--black);
  line-height: 1.5;
  margin: 22px 0 30px 0;
}

.office-info-wrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.office-svg-wrapper {
  display: flex;
  display: flex;
  background-color: var(--red);
  border-radius: 50px;
  padding: 10px;
}

.clock-svg {
  width: 50px;
  height: 50px;
}
.working-hours-text {
  color: var(--black);
  font-size: 22px;

  font-weight: 700;
  line-height: 1.45;
  letter-spacing: -0.44px;
}

.office-text,
.working-hours-text-2 {
  align-self: stretch;
  color: var(--black);

  line-height: 1.56;
  margin: 22px 0 24px 0;
}

.working-hours-text-2-dark {
  font-weight: 600;
}
.working-hours-text-3 {
  align-self: stretch;
  color: var(--black);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.56;
  margin-bottom: 25px;
}
.messenger-svg {
  width: 64px;
  height: 52px;
  fill: var(--black);
}

.phone-btn,
.tg-btn,
.viber-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.phone-btn:hover svg,
.phone-btn:focus-within svg,
.tg-btn:hover svg,
.tg-btn:focus-within svg,
.viber-btn:hover svg,
.viber-btn:focus-within svg {
  fill: var(--red);
  transition: all 0.3s ease;
}

.phone-btn:hover .phone-text,
.phone-btn:focus-within .phone-text,
.tg-btn:hover .messenger-text,
.tg-btn:focus-within .messenger-text,
.viber-btn:hover .messenger-text,
.viber-btn:focus-within .messenger-text {
  transition: all 0.3s ease;
}
.contact-desk-position {
  margin-left: auto;
  margin-right: auto;
}
.phone-text {
  color: var(--black);
  text-align: center;
  font-size: 20px;

  font-weight: 500;
  line-height: 1.4;
}
.phone-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.messenger-text {
  color: var(--black);
  font-size: 20px;

  line-height: 1.4;
}
.tg-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}
.viber-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
}
.messengers {
  display: flex;
  justify-content: center;
  gap: 38px;
  margin-left: auto;
  margin-right: auto;
}
.contact-second {
  box-sizing: border-box;
  position: relative;
  width: 319px;
  height: 379px;
  flex-shrink: 0;
  border-radius: 24px;
  background: linear-gradient(
    180deg,
    #5a93ee 0.03%,
    rgba(245, 207, 105, 0.8) 65.85%,
    #f2b632 81.79%
  );
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
}
.contact-second-title {
  color: var(--white);
  text-align: center;
  font-size: 30px;

  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.6px;
  margin-bottom: 28px;
}
.contact-second-p1 {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  width: 279px;
  margin-bottom: 16px;
}
.contact-second-p2 {
  color: var(--white);
  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  width: 267px;
}
.circle-btn {
  position: absolute;
  width: 131px;
  height: 131px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  left: 30%;
  bottom: -15%;
  text-transform: uppercase;
}
.circle-btn-arrow {
  width: 14px;
  height: 18px;
  position: absolute;
  z-index: 2;
}

.text-circle {
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  transition: transform 4s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle-btn:hover .text-circle,
.circle-btn:focus .text-circle {
  animation: spin 6s linear infinite;
}

/* Add social media icons and links */

.contacts-social-media-wrapper {
  margin: 0 auto;
}

.contacts-social-media-list {
  display: flex;
  width: 220px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  gap: 22px;
  margin: 24px auto 24px auto;
}

.contacts-social-media-list li:has(a[href*='tiktok']) {
  display: flex;

  justify-content: center;
  width: 96px;
}
.contacts-link-text {
  color: var(--black, #1e1e1e);

  /* accent */

  font-size: 20px;

  font-weight: 500;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .contact-section {
    margin-bottom: 120px;
  }
  .contact-container {
    gap: 60px;
  }
  .contact-first {
    width: 688px;
    padding: 32px;
  }
  .contact-subtitle {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact-second {
    width: 689px;
    height: 319px;
    border-radius: 24px;
    padding-top: 24px;
    padding-left: 31px;
    padding-right: 31px;
  }
  .contact-second-title {
    width: 279px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
  }
  .contact-second-p1 {
    line-height: 1.4;
    width: 100%;
  }
  .contact-second-p2 {
    line-height: 1.4;
    width: 100%;
  }
  .circle-btn {
    left: 40%;
    bottom: -20%;
  }

  /* Upd. by Dmytro Samburenko v.1.2 */

  .working-hours-text {
    font-size: 26px;
  }

  .office-text,
  .working-hours-text-2,
  .mail-link {
    font-size: 20px;
    margin: 30px 0 30px 0;
  }

  .mail-link {
    margin-top: 30px;
  }

  .contact-desk-position {
    display: flex;
    column-gap: 48px;
  }

  .contacts-social-media-list {
    width: auto;
    flex-wrap: nowrap;
    column-gap: 48px;
    margin: 14px auto 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .contact-section {
    margin-bottom: 122px;
  }
  .contact-container {
    gap: 26px;
    flex-direction: row;
  }
  .contact-subtitle {
    font-size: 18px;
  }

  .contact-first {
    position: relative;
    width: 1027px;
    height: auto;
    padding: 30px;
  }
  .contact-second {
    width: 327px;
    height: 488px;
    padding-top: 86px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .contact-title {
    font-size: 42px;
    line-height: 1.38;
  }
  .title-row {
    margin-top: 56px;
    margin-bottom: 12px;
  }
  .working-hours-text-2 {
    font-size: 20px;
  }
  .working-hours-text-3 {
    font-size: 20px;
    width: 524px;
  }
  .contact-desk-position {
    position: absolute;
    display: flex;
    bottom: 280px;
    right: 26px;
    gap: 28px;
  }
  .messengers {
    gap: 28px;
  }
  .circle-btn {
    left: 30%;
    bottom: -13%;
  }

  .contacts-social-media-list {
    position: absolute;
    display: flex;
    bottom: 110px;
    right: 20px;
    gap: 18px;
  }
}
