.testimonials-section {
  margin-bottom: 90px;
}

.testimonials-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.textimonials-pre-title-text {
  color: var(--gray);
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 40px;
}

.card-wrapper {
  display: flex;
  width: 270px;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0 4px 10px 0 rgba(82, 82, 82, 0.1);
}

.testimonials-cards-name {
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.testimonials-cards-text {
  color: var(--black);
  font-size: 18px;

  font-weight: 400;
  line-height: 1.5;
}

.swiper-btn-wrapper {
  display: none;
}

.right-arrow-btn,
.left-arrow-btn {
  width: 48px;
  height: 48px;
  background-color: var(--red);
  border-radius: 50px;
  border: none;
  padding: 9px 16px;
}

@media (max-width: 767.98px) {
  .testimonials-swiper-init .swiper-slide {
    width: calc(100% - 24px);
  }
}

/* ======================TABLET================ */

@media screen and (min-width: 768px) {
  .testimonials-title {
    font-size: 42px;
    margin-bottom: 12px;
  }

  .textimonials-pre-title-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 48px;
  }

  .card-wrapper {
    padding: 24px;
  }

  .left-arrow-btn,
  .right-arrow-btn {
    transition: transform 0.5s ease;
  }

  .left-arrow-btn:hover,
  .right-arrow-btn:hover,
  .left-arrow-btn:focus,
  .right-arrow-btn:focus {
    background-color: var(--white);
    transform: scale(1.1);
  }

  .right-arrow-btn:hover .testimonials-svg,
  .left-arrow-btn:hover .testimonials-svg,
  .right-arrow-btn:focus .testimonials-svg,
  .left-arrow-btn:focus .testimonials-svg {
    --color1: var(--red);
  }
}

/* ======================DESKTOP 1440px================ */

@media screen and (min-width: 1440px) {
  .swiper-pagination-bulltes {
    color: var(--white) !important;
  }

  .card-wrapper {
    width: 350px;
  }

  .swiper-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 114px;
    margin-top: 30px;
  }

  .left-arrow-btn,
  .right-arrow-btn {
    display: flex;
    align-items: center;
  }

  .right-arrow-btn {
    justify-content: flex-end;
  }
}
