<section class="about-us-section" id="about-us">
  <div class="container">
    <div class="about-us-header">
      <h2 class="section-about-us-title">Про нас</h2>
      <p class="section-about-us-subtitle">
        Наше кредо — “Ремонтуємо як для себе”
      </p>
      <div class="section-about-us-content">
        <p>
          Ми — команда досвідчених майстрів, яка вже понад 8 років професійно
          ремонтує ПВХ-вікна та двері в Києві та області.Ми віримо, що чесна
          робота, якісні матеріали та чіткі строки — це не “плюси”, а базові
          речі, які має отримувати кожен клієнт.
        </p>
        <p>
          Починали з 1 майстра, а сьогодні наша команда — це 7 фахівців з
          досвідом від 5 років.
        </p>
        <p>
          <span class="fat">Працюємо з фурнітурою Rehau</span> — і завжди
          підказуємо, коли можна обійтись без повної заміни.
        </p>
      </div>

      <div class="about-us-workers-foto">
        <picture class="about-worker-1">
          <!-- Desktop screen 1440 -->

          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/about-us/1desk@1x.jpg 1x,
              ./img/about-us/1desk@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about-us/1tablet@1x.jpg 1x,
              ./img/about-us/1tablet@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <!-- Mobile screen -->

          <source
            media="(max-width: 767px)"
            srcset="
              ./img/about-us/worker1@1x.jpg 1x,
              ./img/about-us/worker1@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="about-us-first-worker-img"
            src="./img/about-us/1desk@1x.jpg"
            alt="First worker"
            loading="lazy"
          />
        </picture>
        <picture class="about-worker-2">
          <!-- Desktop screen 1440 -->

          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/about-us/2desk@1x.jpg 1x,
              ./img/about-us/2desk@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about-us/2tablet@1x.jpg 1x,
              ./img/about-us/2tablet@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <!-- Mobile screen -->

          <source
            media="(max-width: 767px)"
            srcset="./img/about-us/2@1x.jpg 1x, ./img/about-us/2@2x.jpg 2x"
            type="image/jpeg"
          />
          <img
            class="about-us-first-worker-img"
            src="./img/about-us/2desk@1x.jpg"
            alt="Second worker"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <div class="about-us-cards">
      <div class="about-card-10k">
        <h3 class="card-title">10 000 +</h3>
        <p class="cards-content">
          виконаних замовлень, досвід, перевірений часом і клієнтами
        </p>
      </div>
      <div class="about-card-24h">
        <h3 class="card-title">до 24 годин</h3>
        <p class="cards-content">виїзд у середньому</p>
      </div>
      <div class="about-card-90">
        <h3 class="card-title">90% робіт</h3>
        <p class="cards-content">на місці, без повторного візиту</p>
      </div>
      <div class="about-card-photo">
        <picture>
          <!-- Desktop screen 1440 -->

          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/about-us/about-us-bg-desktop@1x.jpg 1x,
              ./img/about-us/about-us-bg-desktop@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about-us/about-us-bg-tablet@1x     1x,
              ./img/about-us/about-us-bg-tablet@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <!-- Mobile screen -->

          <source
            media="(max-width: 767px)"
            srcset="
              ./img/about-us/about-us-bg-mobile@1x.jpg 1x,
              ./img/about-us/about-us-bg-mobile@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            class="about-us-first-worker-img"
            src="./img/about-us/about-us-bg-desktop@1x.jpg"
            alt="Worker"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="about-card-we">
        <svg class="red-star-svg" role="img" aria-label="Red star">
          <use href="./img/sprite.svg#icon-red-star"></use>
        </svg>
        <h3 class="card-title">МИ</h3>
        <p class="cards-content">
          Завжди залишаємо після себе чистоту, тепло та працюючі вікна
        </p>
      </div>
      <div class="about-card-rehau">
        <h3 class="card-title">Монтуємо вікна Rehau</h3>
        <p class="cards-content-rehau">
          Німецька якість, енергоефективність і довговічність. Тепло взимку,
          прохолода влітку, ідеальна шумоізоляція та стильний вигляд на роки
        </p>
      </div>
    </div>
  </div>
</section>
