<section class="contact-section" id="contacts">
  <div class="container contact-container">
    <div class="contact-first">
      <div class="title-row">
        <svg class="red-star-svg-contact" role="img" aria-label="Red star">
          <use href="./img/sprite.svg#icon-red-star"></use>
        </svg>
        <h2 class="contact-title">Контакти</h2>
        <svg class="red-star-svg-contact" role="img" aria-label="Red star">
          <use href="./img/sprite.svg#icon-red-star"></use>
        </svg>
      </div>
      <p class="contact-subtitle">
        Маєте питання або хочете залишити заявку? <br />Обирайте зручний для вас
        спосіб
      </p>
      <div class="working-hours">
        <svg class="clock-svg" role="img" aria-label="Red clock">
          <use href="./img/sprite.svg#icon-red-clock"></use>
        </svg>
        <p class="working-hours-text">Працюємо під ваш графік</p>
      </div>
      <p class="working-hours-text-2">
        Виїзд майстра
        <span class="working-hours-text-2-dark">з 9:00 до 21:00.</span>
      </p>
      <p class="working-hours-text-3">
        Запис на зручний для вас час — без черг і зайвого очікування.
      </p>
      <div class="contact-desk-position">
        <a
          class="phone-btn"
          href="tel:+380985353322"
          aria-label="Зателефонувати"
        >
          <svg class="messenger-svg" role="img" aria-label="Phone icon">
            <use href="./img/sprite.svg#icon-phone"></use>
          </svg>
          <span class="phone-text">+38 (098) 535-33-22</span>
        </a>

        <div class="messengers">
          <a
            class="tg-btn"
            href="https://t.me/+380985353322"
            target="_blank"
            aria-label="Написати в Telegram"
          >
            <svg class="messenger-svg" role="img" aria-label="Telegram">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
            <span class="messenger-text">Telegram</span>
          </a>
          <a
            class="viber-btn"
            href="viber://chat?number=%2B380985353322"
            aria-label="Написати у Viber"
          >
            <svg class="messenger-svg" role="img" aria-label="Viber">
              <use href="./img/sprite.svg#icon-viber"></use>
            </svg>
            <span class="messenger-text">Viber</span>
          </a>
        </div>
      </div>
    </div>

    <!-- 2-й блок -->
    <div class="contact-second">
      <h3 class="contact-second-title">Спробуй наш Telegram-бот</h3>
      <p class="contact-second-p1">🤖 Наш — зручний помічник 24/7.</p>
      <p class="contact-second-p2">
        🎁 Отримай персональну знижку у боті! Подарунок усім новим користувачам.
      </p>
      <div>
        <a
          href="https://t.me/helper_window_bot"
          target="_blank"
          rel="noopener noreferrer"
          class="circle-btn"
        >
          <svg class="circle-btn-arrow" role="img" aria-label="Arrow">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
          <svg class="text-circle" viewBox="0 0 100 100">
            <defs>
              <path
                id="circlePath"
                d="M50,50 m-35,0 a35,35 0 1,1 70,0 a35,35 0 1,1 -70,0"
              />
            </defs>
            <text font-size="10" fill="#ffc300">
              <textPath href="#circlePath" startOffset="0%">
                Відкрити бот Відкрити бот Відкрити бот
              </textPath>
            </text>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
