<section class="contact-section" id="contacts">
  <div class="container contact-container">
    <div class="contact-first">
      <div class="title-row">
        <svg class="red-star-svg-contact" aria-hidden="true" focusable="false">
          <use href="./img/sprite.svg#icon-red-star"></use>
        </svg>
        <h2 class="contact-title">Контакти</h2>
        <svg class="red-star-svg-contact" aria-hidden="true" focusable="false">
          <use href="./img/sprite.svg#icon-red-star"></use>
        </svg>
      </div>
      <p class="contact-subtitle">
        Маєте питання або хочете залишити заявку? <br />Обирайте зручний для вас
        спосіб
      </p>
      <div class="office-info-wrapper">
        <div class="office-svg-wrapper">
          <svg
            class="office-svg"
            aria-hidden="true"
            focusable="false"
            width="25"
            height="25"
          >
            <use href="./img/sprite/sprite-two.svg#icon-office"></use>
          </svg>
        </div>
        <p class="working-hours-text">Наш офіс</p>
      </div>
      <p class="office-text">вул. Євгена Сверстюка, 11в, Київ</p>
      <div class="working-hours">
        <svg class="clock-svg" aria-hidden="true" focusable="false">
          <use href="./img/sprite.svg#icon-red-clock"></use>
        </svg>
        <p class="working-hours-text">Працюємо під ваш графік</p>
      </div>
      <p class="working-hours-text-2">
        Виїзд майстра
        <span class="working-hours-text-2-dark"
          >з <time datetime="09:00">9:00</time> до
          <time datetime="21:00">21:00</time>.</span
        >
      </p>
      <div class="office-info-wrapper">
        <div class="office-svg-wrapper">
          <svg
            class="office-svg"
            aria-hidden="true"
            focusable="false"
            width="25"
            height="25"
          >
            <use href="./img/sprite/sprite-two.svg?v=3#icon-mail"></use>
          </svg>
        </div>
        <p class="working-hours-text">Наш e-mail</p>
      </div>
      <a class="mail-link" href="mailto:service.online.24.7.21@gmail.com">
        service.online.24.7.21@gmail.com</a
      >
      <div class="contacts-social-media-wrapper">
        <div class="contact-desk-position">
          <a
            class="phone-btn"
            href="tel:+380985353322"
            aria-label="Зателефонувати"
          >
            <svg class="messenger-svg" role="img" aria-label="Phone icon">
              <use href="./img/sprite.svg#icon-phone"></use>
            </svg>
            <span class="phone-text">+38 (098) 535-33-22</span>
          </a>

          <div class="messengers">
            <a
              class="tg-btn"
              href="https://t.me/+380985353322"
              target="_blank"
              aria-label="Написати в Telegram"
            >
              <svg
                class="messenger-svg"
                role="img"
                aria-label="Telegram"
                width="48"
                height="48"
              >
                <use href="./img/sprite.svg#telegram-icon"></use>
              </svg>
              <span class="messenger-text">Telegram</span>
            </a>
            <a
              class="viber-btn"
              href="viber://chat?number=%2B380985353322"
              aria-label="Написати у Viber"
            >
              <svg class="messenger-svg" role="img" aria-label="Viber">
                <use href="./img/sprite.svg#icon-viber"></use>
              </svg>
              <span class="messenger-text">Viber</span>
            </a>
          </div>
        </div>

        <ul class="contacts-social-media-list">
          <li class="footer-social-media-second-list-item">
            <a
              href="https://www.instagram.com/viknoprof?igsh=Nmx3YXZ3bWk1cmZ3&utm_source=qr"
              class="footer-social-media-second-link"
              aria-label="Посилання на соціальну мережу Instagram"
              rel="noopener noreferrer"
              target="_blank"
              ><svg class="footer-menu-second-icons" width="25" height="25">
                <use
                  href="./img/sprite/social-media-sprite.svg#icon-instagram"
                ></use>
              </svg>
              <p class="contacts-link-text">Instagram</p></a
            >
          </li>
          <li class="footer-social-media-second-list-item">
            <a
              href="https://www.facebook.com/share/1BoyRDErgU/?mibextid=wwXIfr"
              class="footer-social-media-second-link"
              aria-label="Посилання на соціальну мережу Facebook"
              rel="noopener noreferrer"
              target="_blank"
              ><svg class="footer-menu-second-icons" width="25" height="25">
                <use
                  href="./img/sprite/social-media-sprite.svg#icon-facebook"
                ></use>
              </svg>
              <p class="contacts-link-text">Facebook</p></a
            >
          </li>
          <li
            class="footer-social-media-second-list-item contacts-social-media-link"
          >
            <a
              href="https://tiktok.com/@viknoprof.com.ua"
              class="contacts-social-media-link footer-social-media-second-link"
              aria-label="Посилання на соціальну мережу Tiktok"
              rel="noopener noreferrer"
              target="_blank"
              ><svg class="footer-menu-second-icons" width="25" height="25">
                <use
                  href="./img/sprite/social-media-sprite.svg#icon-tiktok"
                ></use>
              </svg>
              <p class="contacts-link-text">TikTok</p></a
            >
          </li>
          <li class="footer-social-media-second-list-item">
            <a
              href="https://youtube.com/@vikno_prof?si=dv7wXQ3m_gEDkMe6"
              class="footer-social-media-second-link"
              aria-label="Посилання на платформу YouTube"
              rel="noopener noreferrer"
              target="_blank"
              ><svg class="footer-menu-second-icons" width="25" height="25">
                <use
                  href="./img/sprite/social-media-sprite.svg#icon-youtube"
                ></use>
              </svg>
              <p class="contacts-link-text">YouTube</p></a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- 2-й блок -->
    <div class="contact-second">
      <h3 class="contact-second-title">Спробуй наш Telegram-бот</h3>
      <p class="contact-second-p1">🤖 Наш — зручний помічник 24/7.</p>
      <p class="contact-second-p2">
        🎁 Отримай персональну знижку у боті! Подарунок усім новим користувачам.
      </p>
      <div>
        <a
          href="https://t.me/helper_window_bot"
          target="_blank"
          rel="noopener noreferrer"
          class="circle-btn"
        >
          <svg class="circle-btn-arrow" role="img" aria-label="Arrow">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
          <svg class="text-circle" viewBox="0 0 100 100">
            <defs>
              <path
                id="circlePath"
                d="M50,50 m-35,0 a35,35 0 1,1 70,0 a35,35 0 1,1 -70,0"
              />
            </defs>
            <text font-size="10" fill="#ffc300">
              <textPath href="#circlePath" startOffset="0%">
                Відкрити бот Відкрити бот Відкрити бот
              </textPath>
            </text>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
