<footer class="footer-section-wrapper">
  <div class="container">
    <nav class="footer-nav-wrapper" aria-label="Навігація по веб сторінці.">
      <ul class="footer-nav-list">
        <li class="footer-nav-list-item">
          <a class="footer-nav-list-link" href="#about-us">Про нас </a>
        </li>
        <li class="footer-nav-list-item">
          <a class="footer-nav-list-link" href="#offers">Наші послуги</a>
        </li>
        <li class="footer-nav-list-item">
          <a class="footer-nav-list-link" href="#job-steps">Етапи роботи</a>
        </li>
        <li class="footer-nav-list-item">
          <a class="footer-nav-list-link" href="#prices">Ціни</a>
        </li>
        <li class="footer-nav-list-item">
          <a class="footer-nav-list-link" href="#contacts">Контакти</a>
        </li>
        <li class="footer-nav-list-item">
          <a class="footer-nav-list-link" href="#testimonials">Відгуки</a>
        </li>
        <li class="footer-nav-list-item">
          <a class="footer-nav-list-link" href="#faq">Питання</a>
        </li>
      </ul>
    </nav>
    <address class="footer-social-media-wrapper">
      <ul class="footer-social-media-list">
        <li class="footer-social-media-list-item">
          <a
            href="tel:+380985353322"
            class="footer-social-media-link"
            aria-label="Контактний номер телефону"
            rel="noopener noreferrer"
            target="_blank"
            ><svg class="footer-menu-icons" width="18" height="18">
              <use href="./img/sprite/sprite-two.svg#icon-phone"></use>
            </svg>
            <p class="footer-link-text">+38 (098) 535-33-22</p></a
          >
        </li>
        <li class="footer-social-media-list-item">
          <a
            class="footer-social-media-link"
            href="https://t.me/+380985353322"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Посилання на Телеграм"
            ><svg class="footer-menu-icons" width="18" height="18">
              <use href="./img/sprite/sprite-two.svg#icon-telegram"></use>
            </svg>
          </a>
          <p class="footer-link-text">Telegram</p>
        </li>
        <li class="footer-social-media-list-item">
          <a
            class="footer-social-media-link"
            href="viber://chat?number=%2B380985353322"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Посилання на Вайбер."
            ><svg class="footer-menu-icons" width="25" height="25">
              <use href="./img/sprite/sprite-two.svg#icon-viber"></use>
            </svg>
          </a>
          <p class="footer-link-text">Viber</p>
        </li>
      </ul>

      <ul class="footer-social-media-second-list">
        <li class="footer-social-media-second-list-item">
          <a
            href="https://www.instagram.com/viknoprof?igsh=Nmx3YXZ3bWk1cmZ3&utm_source=qr"
            class="footer-social-media-second-link"
            aria-label="Посилання на соціальну мережу Instagram"
            rel="noopener noreferrer"
            target="_blank"
            ><svg class="footer-menu-second-icons" width="25" height="25">
              <use
                href="./img/sprite/social-media-sprite.svg#icon-instagram"
              ></use>
            </svg>
            <p class="footer-link-text">Instagram</p></a
          >
        </li>
        <li class="footer-social-media-second-list-item">
          <a
            href="https://www.facebook.com/share/1BoyRDErgU/?mibextid=wwXIfr"
            class="footer-social-media-second-link"
            aria-label="Посилання на соціальну мережу Facebook"
            rel="noopener noreferrer"
            target="_blank"
            ><svg class="footer-menu-second-icons" width="25" height="25">
              <use
                href="./img/sprite/social-media-sprite.svg#icon-facebook"
              ></use>
            </svg>
            <p class="footer-link-text">Facebook</p></a
          >
        </li>
        <li class="footer-social-media-second-list-item">
          <a
            href="https://tiktok.com/@viknoprof.com.ua"
            class="footer-social-media-second-link"
            aria-label="Посилання на соціальну мережу Tiktok"
            rel="noopener noreferrer"
            target="_blank"
            ><svg class="footer-menu-second-icons" width="25" height="25">
              <use
                href="./img/sprite/social-media-sprite.svg#icon-tiktok"
              ></use>
            </svg>
            <p class="footer-link-text">TikTok</p></a
          >
        </li>
        <li class="footer-social-media-second-list-item">
          <a
            href="https://youtube.com/@vikno_prof?si=dv7wXQ3m_gEDkMe6"
            class="footer-social-media-second-link"
            aria-label="Посилання на платформу YouTube"
            rel="noopener noreferrer"
            target="_blank"
            ><svg class="footer-menu-second-icons" width="25" height="25">
              <use
                href="./img/sprite/social-media-sprite.svg#icon-youtube"
              ></use>
            </svg>
            <p class="footer-link-text">YouTube</p></a
          >
        </li>
      </ul>
    </address>
    <div class="footer-btn-wrapper">
      <a
        href="#top"
        aria-label="Повернутися на початок сторінки"
        class="footer-circle-btn"
      >
        <svg
          class="footer-circle-btn-arrow"
          role="img"
          aria-hidden="true"
          focusable="false"
        >
          <use href="./img/sprite.svg#icon-footer-arrow"></use>
        </svg>
        <svg
          class="footer-text-circle"
          viewBox="0 0 100 100"
          aria-hidden="true"
          focusable="false"
        >
          <defs>
            <path
              id="circlePath"
              d="M50,50 m-35,0 a35,35 0 1,1 70,0 a35,35 0 1,1 -70,0"
            />
          </defs>
          <text font-size="14" fill="#A0291A">
            <textPath href="#circlePath" startOffset="0%">
              До гори До гори До гори До гори
            </textPath>
          </text>
        </svg>
      </a>
    </div>
    <ul class="footer-vebstudio-link-list">
      <li>
        <a
          href="https://t.me/nara_web"
          class="footer-vebstudio-links"
          aria-label="Посилання на Телеграм від дизайнера проєкту."
          rel="noopener noreferrer"
          target="_blank"
          >Designed by <span class="footer-link-container">Nara_Web</span></a
        >
      </li>
      <li>
        <a
          href="https://t.me/dmytry_samburenko"
          class="footer-vebstudio-links"
          aria-label="Посилання на Телеграм від розробників проєкту."
          rel="noopener noreferrer"
          target="_blank"
          >Developed by
          <span class="footer-link-container">SL Digital Agency</span></a
        >
      </li>
    </ul>
    <p class="licenses-text">© 2025 All Rights Reserved</p>
  </div>
</footer>
