<section class="garanties-section">
  <div class="container">
    <div class="garanties-header">
      <h2 class="garanties-section-title">Гарантії та безпека</h2>
      <p class="garanties-section-subtitle">
        Забезпечуємо захист ваших інтересів і підтверджуємо якість робіт
        офіційними документами
      </p>
    </div>
    <div class="garanties-cards">
      <div class="garanties-card">
        <h3 class="garanties-card-title">Письмова гарантія</h3>
        <p class="garanties-card-content">
          Письмова гарантія — фіксуємо умови та відповідальність у договорі
        </p>
        <picture>
          <!-- Desktop screen 1440 -->

          <source
            media="(min-width: 1440px)"
            srcset="./img/garanties/g1d.gif"
            type="image/gif"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="./img/garanties/g1t.gif"
            type="image/gif"
          />
          <!-- Mobile screen -->

          <source
            media="(max-width: 767px)"
            srcset="./img/garanties/g1m.gif"
            type="image/gif"
          />
          <img
            class="garanties-gif"
            src="./img/garanties/g1d.gif"
            alt="Abstract"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="garanties-card">
        <h3 class="garanties-card-title">Чистота після роботи</h3>
        <p class="garanties-card-content">
          Прибираємо все сміття та пил після завершення робіт
        </p>
        <picture>
          <!-- Desktop screen 1440 -->

          <source
            media="(min-width: 1440px)"
            srcset="./img/garanties/g2d.gif"
            type="image/gif"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="./img/garanties/g2t.gif"
            type="image/gif"
          />
          <!-- Mobile screen -->

          <source
            media="(max-width: 767px)"
            srcset="./img/garanties/g2m.gif"
            type="image/gif"
          />
          <img
            class="garanties-gif"
            src="./img/garanties/g2d.gif"
            alt="Abstract"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="garanties-card">
        <h3 class="garanties-card-title">Без передоплати</h3>
        <p class="garanties-card-content garanties-desk">
          Оплата після виконання робіт
        </p>
        <picture>
          <!-- Desktop screen 1440 -->

          <source
            media="(min-width: 1440px)"
            srcset="./img/garanties/g3d.gif"
            type="image/gif"
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="./img/garanties/g3t.gif"
            type="image/gif"
          />
          <!-- Mobile screen -->

          <source
            media="(max-width: 767px)"
            srcset="./img/garanties/g3m.gif"
            type="image/gif"
          />
          <img
            class="garanties-gif"
            src="./img/garanties/g3d.gif"
            alt="Abstract"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
