<section class="hero-section-wrapper">
  <div class="container-part-two">
    <div class="hero-gradient">
      <div class="container">
        <h1 class="hero-title">
          Ремонтуємо ПВХ вікна та двері в Києві та області швидко, якісно з
          гарантією до 12 міс.
        </h1>
        <p class="hero-text">
          <svg class="hero-svg" width="26" height="16">
            <use href="./img/sprite/sprite-two.svg#icon-black-star"></use>
          </svg>
          <span>Виїзд майстра-консультанта — безкоштовно.</span>
        </p>
        <p class="hero-text">
          <svg
            class="hero-svg"
            width="26
      "
            height="16"
          >
            <use href="./img/sprite/sprite-two.svg#icon-black-star"></use>
          </svg>
          <span class="hero-second-text"
            >Чесна діагностика та прозора оцінка робіт.</span
          >
        </p>
        <a
          class="hero-tg-link"
          href=""
          rel="noopener noreferrer"
          aria-label="Посилання на Телеграм."
        >
          <span class="hero-link-text-container">Виклик майстра</span>
          <svg
            class="hero-link-thirth-element"
            width="26"
            height="26"
            aria-hidden="true"
          >
            <use
              class="hero-tg-icon"
              href="./img/sprite/sprite-two.svg#icon-telegram"
            ></use>
          </svg>
        </a>

        <span>
          <svg class="hero-svg" width="18" height="16" aria-hidden="true">
            <use href="./img/sprite/sprite-two.svg#icon-Union"></use>
          </svg>
        </span>
      </div>
      <div class="hero-swiper-init swiper swiper-position">
        <ul class="hero-swiper swiper-wrapper hero-cards-list">
          <li class="swiper-slide">
            <div class="hero-cards">
              <span class="hero-cards-container"
                ><p class="hero-cards-number">1</p></span
              >
              <p class="hero-cards-first-text">
                Працюємо під ваш графік — виїзд з 9:00 до 21:00, включно у
                вихідні
              </p>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="hero-cards">
              <span class="hero-cards-container"
                ><p class="hero-cards-number">2</p></span
              >

              <svg
                class="icon-heart-svg"
                width="60"
                height="52"
                aria-hidden="true"
              >
                <use href="./img/sprite/sprite-two.svg#icon-heart"></use>
              </svg>
              <p class="hero-cards-second-text">
                ЗСУ, переселенці — зі знижкою
              </p>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="hero-cards">
              <span class="hero-cards-container"
                ><p class="hero-cards-number">3</p></span
              >

              <svg
                class="icon-star-svg"
                width="38"
                height="33"
                aria-hidden="true"
              >
                <use href="./img/sprite/sprite-two.svg#icon-star"></use>
              </svg>
              <p class="hero-cards-thirth-text">
                Гарантія до 12 міс. — письмова
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="video-container">
      <video class="gif-desktop" autoplay loop muted playsinline>
        <source src="../img/hero-section/hero-gif.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</section>
