<section class="job-steps-section-wrapper" id="job-steps">
  <div class="container">
    <h2 class="job-section-title">Етапи роботи</h2>
    <p class="job-section-text">
      Від першого дзвінка до завершення діємо за чітким планом
    </p>
    <div class="job-steps-content-wrapper">
      <ul class="job-section-list">
        <li class="job-section-list-item">
          <div class="job-section-list-item-wrapper">
            <h3 class="job-section-list-item-title">
              Заявка – легко і без зобов’язань
            </h3>
            <p class="job-section-list-item-text">
              Залишити заявку можна, як вам зручно:
            </p>
            <ul class="job-section-list-item-list">
              <li>через Telegram-бот</li>
              <li>у соцмережах (кнопка на сайті)</li>
              <li>або просто зателефонувати.</li>
            </ul>
            <p class="job-section-list-item-text">
              Ми зв’яжемося у зручний для вас час — коротко уточнимо суть
              проблеми, відповімо на запитання й домовимось про день виїзду
              майстра.
            </p>
            <a
              href="https://t.me/+380985353322"
              class="job-steps-telegram-link"
              rel="noopener noreferrer"
              aria-label="Посилання на Телеграм"
              target="_blank"
            >
              <span class="job-steps-link-text">Викликати майстра</span>
              <svg
                class="job-steps-svg-wrapper"
                width="26"
                height="26"
                aria-hidden="true"
                focusable="false"
              >
                <use
                  class="job-steps-tg-icon"
                  href="./img/sprite/sprite-two.svg#icon-telegram"
                ></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="job-section-list-item">
          <div class="job-section-list-item-wrapper job-steps-second-card">
            <h3 class="job-section-list-item-title">
              Перевіримо, пояснимо, підкажемо – рішення за вами
            </h3>
            <p class="job-section-list-item-text">
              На місці майстер оглядає вікно або іншу несправність — фурнітуру,
              ущільнювачі, ручки, склопакет чи механізм відкривання.
            </p>
            <p class="job-section-list-item-text">
              Все пояснює простими словами — щоб ви точно розуміли, у чому
              справа.
            </p>

            <p class="job-section-list-item-second-text">
              <svg
                class="job-steps-svg-star-wrapper"
                width="40"
                height="40"
                aria-hidden="true"
                focusable="false"
              >
                <use
                  class="job-steps-star-icon"
                  href="./img/sprite/sprite-two.svg#icon-star"
                ></use>
              </svg>
              Після огляду — озвучує вартість ремонту. Без прихованих платежів,
              «дрібного шрифту» чи нав’язаних послуг.
            </p>

            <a
              href="https://t.me/+380985353322"
              class="job-steps-telegram-link"
              rel="noopener noreferrer"
              aria-label="Посилання на Телеграм"
              target="_blank"
            >
              <span class="job-steps-link-text">Викликати майстра</span>
              <svg
                class="job-steps-svg-wrapper"
                width="26"
                height="26"
                aria-hidden="true"
                focusable="false"
              >
                <use
                  class="job-steps-tg-icon"
                  href="./img/sprite/sprite-two.svg#icon-telegram"
                ></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="job-section-list-item">
          <div class="job-section-list-item-wrapper job-steps-thirth-card">
            <h3 class="job-section-list-item-title">Ремонт одразу на місці</h3>
            <p class="job-section-list-item-text">
              Якщо ви погоджуєтесь — майстер одразу виконує ремонт або
              обслуговування на місці. <br />Маємо із собою весь необхідний
              інструмент і запчастини: нічого не потрібно докуповувати чи
              чекати. Після завершення — ви отримуєте чек, письмову гарантію на
              роботи та матеріали (до 12 міс).
            </p>
            <p class="job-section-list-item-thirth-text">
              87% проблем вирішуємо з першого візиту і ви одразу бачите
              результат.
            </p>
            <a
              href="https://t.me/+380985353322"
              class="job-steps-telegram-link"
              rel="noopener noreferrer"
              aria-label="Посилання на Телеграм"
              target="_blank"
            >
              <span class="job-steps-link-text">Викликати майстра</span>
              <svg
                class="job-steps-svg-wrapper"
                width="26"
                height="26"
                aria-hidden="true"
                focusable="false"
              >
                <use
                  class="job-steps-tg-icon"
                  href="./img/sprite/sprite-two.svg#icon-telegram"
                ></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
      <div class="job-steps-video-container">
        <video
          class="job-steps-video"
          autoplay
          loop
          muted
          playsinline
          preload="metadata"
        >
          <source src="./img/job-steps/job-steps.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</section>
