<section class="offers-section">
  <div class="container">
    <div class="offers-header">
      <h2 class="offers-section-title">Проблеми, які ми вирішуємо</h2>
      <p class="offers-section-subtitle">
        Дрібні несправності швидко стають проблемою. Ми відновимо тепло, тишу й
        комфорт у домі
      </p>
    </div>
    <div class="offers-desk-position">
      <div class="offers-nav">
        <p class="offers-nav-content">
          Що саме потрібно? <br />
          <span class="offers-nav-content-white"
            >Діагностика, ремонт чи заміна</span
          >
          — натисніть і знайдіть потрібне.
        </p>
        <div class="offers-nav-btns">
          <button
            type="button"
            aria-label="Diagnostics button"
            class="diagnostics-btn"
          >
            1. Діагностика
          </button>
          <button type="button" aria-label="Repair button" class="repair-btn">
            2. Ремонт
          </button>
          <button
            type="button"
            aria-label="Replacement button"
            class="replacement-btn"
          >
            3. Заміна / монтаж
          </button>
        </div>
      </div>

      <div class="diagnostics-cards offers-cards">
        <div class="offers-card">
          <h3 class="offers-card-title">Протяги з вікон <br />та дверей</h3>
          <p class="offers-card-content">
            Тягне холодом? Знаходимо протяг і герметизуємо.
          </p>
          <img
            class="offers-card-img"
            src="./img/offers/d1@1x.jpg"
            srcset="./img/offers/d1@2x.jpg 2x"
            alt="Windows part"
            width="425"
            height="227"
          />
          <a
            href="https://t.me/+380985353322"
            class="offers-social-link"
            aria-label="Telegram link"
            target="_blank"
          >
            <svg class="social-svg" width="42" height="42">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </div>
        <div class="offers-card">
          <h3 class="offers-card-title">Запотіває склопакет</h3>
          <p class="offers-card-content">
            Постійний конденсат? Усунемо <br />причину або замінимо склопакет.
          </p>
          <img
            class="offers-card-img"
            src="./img/offers/d2@1x.jpg"
            srcset="./img/offers/d2@2x.jpg 2x"
            alt="Windows part"
            width="425"
            height="227"
          />
          <a
            href="https://t.me/+380985353322"
            class="offers-social-link"
            aria-label="Telegram link"
            target="_blank"
          >
            <svg class="social-svg" width="42" height="42">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </div>
        <div class="offers-card">
          <h3 class="offers-card-title">Вікно не тримає тепло</h3>
          <p class="offers-card-content">
            Висока втрата тепла? Проведемо теплоізоляційне обслуговування.
          </p>
          <img
            class="offers-card-img"
            src="./img/offers/d3@1x.jpg"
            srcset="./img/offers/d3@2x.jpg 2x"
            alt="Windows part"
            width="425"
            height="227"
          />
          <a
            href="https://t.me/+380985353322"
            class="offers-social-link"
            aria-label="Telegram link"
            target="_blank"
          >
            <svg class="social-svg" width="42" height="42">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </div>
        <div class="offers-card">
          <h3 class="offers-card-title">Сторонні звуки при відкриванні</h3>
          <p class="offers-card-content">
            Скрипи, стуки чи скрегіт? Змастимо, відрегулюємо, замінимо.
          </p>
          <img
            class="offers-card-img"
            src="./img/offers/d4@1x.jpg"
            srcset="./img/offers/d4@2x.jpg 2x"
            alt="Windows part"
            width="425"
            height="227"
          />
          <a
            href="https://t.me/+380985353322"
            class="offers-social-link"
            aria-label="Telegram link"
            target="_blank"
          >
            <svg class="social-svg" width="42" height="42">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </div>
        <div class="offers-card">
          <h3 class="offers-card-title">Несправність стулки</h3>
          <p class="offers-card-content">
            Стулка зачіпає раму? Вирівняємо геометрію і нормалізуємо хід.
          </p>
          <img
            class="offers-card-img"
            src="./img/offers/d5@1x.jpg"
            srcset="./img/offers/d5@2x.jpg 2x"
            alt="Windows part"
            width="425"
            height="227"
          />
          <a
            href="https://t.me/+380985353322"
            class="offers-social-link"
            aria-label="Telegram link"
            target="_blank"
          >
            <svg class="social-svg" width="42" height="42">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="repair-cards offers-cards">
        <div class="offers-card">
          <h3 class="offers-card-title">Регулювання або заміна фурнітури</h3>
          <p class="offers-card-content">
            Фурнітура вийшла з ладу? Відновимо <br />або оновимо механізми.
          </p>
          <img
            class="offers-card-img"
            src="./img/offers/r1@1x.jpg"
            srcset="./img/offers/r1@2x.jpg 2x"
            alt="Windows part"
            width="425"
            height="227"
          />
          <a
            href="https://t.me/+380985353322"
            class="offers-social-link"
            aria-label="Telegram link"
            target="_blank"
          >
            <svg class="social-svg" width="42" height="42">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </div>
        <div class="offers-card">
          <h3 class="offers-card-title">Погано працює ручка</h3>
          <p class="offers-card-content">
            Ручка йде туго або клинить? Відрегулюємо або замінимо.
          </p>
          <img
            class="offers-card-img"
            src="./img/offers/r2@1x.jpg"
            srcset="./img/offers/r2@2x.jpg 2x"
            alt="Windows part"
            width="425"
            height="227"
          />
          <a
            href="https://t.me/+380985353322"
            class="offers-social-link"
            aria-label="Telegram link"
            target="_blank"
          >
            <svg class="social-svg" width="42" height="42">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </div>
        <div class="offers-card">
          <h3 class="offers-card-title">Випав/зносився ущільнювач</h3>
          <p class="offers-card-content">
            Постійний конденсат? Усунемо <br />причину або замінимо склопакет.
          </p>
          <img
            class="offers-card-img"
            src="./img/offers/r3@1x.jpg"
            srcset="./img/offers/r3@2x.jpg 2x"
            alt="Windows part"
            width="425"
            height="227"
          />
          <a
            href="https://t.me/+380985353322"
            class="offers-social-link"
            aria-label="Telegram link"
            target="_blank"
          >
            <svg class="social-svg" width="42" height="42">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </div>
        <div class="offers-card">
          <h3 class="offers-card-title perekis">Перекіс/провисання стулки</h3>
          <p class="offers-card-content">
            Стулка зачіпає раму? Вирівняємо геометрію і нормалізуємо хід.
          </p>
          <img
            class="offers-card-img"
            src="./img/offers/r4@1x.jpg"
            srcset="./img/offers/r4@2x.jpg 2x"
            alt="Windows part"
            width="425"
            height="227"
          />
          <a
            href="https://t.me/+380985353322"
            class="offers-social-link"
            aria-label="Telegram link"
            target="_blank"
          >
            <svg class="social-svg" width="42" height="42">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </div>
        <div class="offers-card">
          <h3 class="offers-card-title">Зовнішня герметизація</h3>
          <p class="offers-card-content">
            Захистимо вікно зовні від вологи, <br />протягів і холоду.
          </p>
          <img
            class="offers-card-img"
            src="./img/offers/r5@1x.jpg"
            srcset="./img/offers/r5@2x.jpg 2x"
            alt="Windows part"
            width="425"
            height="227"
          />
          <a
            href="https://t.me/+380985353322"
            class="offers-social-link"
            aria-label="Telegram link"
            target="_blank"
          >
            <svg class="social-svg" width="42" height="42">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="replacement-cards offers-cards">
        <div class="offers-card">
          <h3 class="offers-card-title">Заміна склопакетів</h3>
          <p class="offers-card-content">
            Розбився, потьмянів чи запотіває? Замінимо на новий.
          </p>
          <img
            class="offers-card-img"
            src="./img/offers/z1@1x.jpg"
            srcset="./img/offers/z1@2x.jpg 2x"
            alt="Windows part"
            width="425"
            height="227"
          />
          <a
            href="https://t.me/+380985353322"
            class="offers-social-link"
            aria-label="Telegram link"
            target="_blank"
          >
            <svg class="social-svg" width="42" height="42">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </div>
        <div class="offers-card">
          <h3 class="offers-card-title">Монтаж фурнітур Maco</h3>
          <p class="offers-card-content">
            Надійна австрійська фурнітура для безпеки та довговічності ваших
            вікон.
          </p>
          <img
            class="offers-card-img"
            src="./img/offers/z2@1x.jpg"
            srcset="./img/offers/z2@2x.jpg 2x"
            alt="Windows part"
            width="425"
            height="227"
          />
          <a
            href="https://t.me/+380985353322"
            class="offers-social-link"
            aria-label="Telegram link"
            target="_blank"
          >
            <svg class="social-svg" width="42" height="42">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </div>
        <div class="offers-card">
          <h3 class="offers-card-title">Виготовлення москітних сіток</h3>
          <p class="offers-card-content">
            Підберемо й встановимо сітки будь-<br />якого типу — зручні й
            надійні.
          </p>
          <img
            class="offers-card-img"
            src="./img/offers/z3@1x.jpg"
            srcset="./img/offers/z3@2x.jpg 2x"
            alt="Windows part"
            width="425"
            height="227"
          />
          <a
            href="https://t.me/+380985353322"
            class="offers-social-link"
            aria-label="Telegram link"
            target="_blank"
          >
            <svg class="social-svg" width="42" height="42">
              <use href="./img/sprite.svg#telegram-icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
