<section class="prices-section" id="prices">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="prices-title">Ціни</h2>
      <p class="prices-pre-title">
        Кожне вікно має свої нюанси — ціну визначаємо після консультації
      </p>
    </div>
    <div class="prices-content-wrapper">
      <div class="prices-bg-wrapper">
        <div class="prices-run-btn">
          <a
            class="prices-circle-btn"
            href="https://t.me/helper_window_bot"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="prices-circle-btn-arrow"
              role="img"
              aria-label="Arrow"
              width="16"
              height="21"
            >
              <use href="./img/sprite.svg#icon-footer-arrow"></use>
            </svg>
            <svg class="prices-text-circle" viewBox="0 0 100 100">
              <defs>
                <path
                  id="circlePath"
                  d="M50,50 m-35,0 a35,35 0 1,1 70,0 a35,35 0 1,1 -70,0"
                />
              </defs>
              <text font-size="8.7" fill="#a0291a">
                <textPath href="#circlePath" startOffset="0%">
                  Виїзд майстра-консультанта-безкоштовний
                </textPath>
              </text>
            </svg>
          </a>
        </div>
        <div class="prices-background"></div>
      </div>
      <div class="prices-text-wrapper">
        <dl class="prices-text-list">
          <div class="prices-text-list-item">
            <div class="prices-text-list-item-wrapper">
              <dt>
                Регулювання вікон<span
                  class="prices-points-first-part"
                  aria-hidden="true"
                  >...........................</span
                ><span class="prices-points-second-part" aria-hidden="true"
                  >.................................</span
                >
              </dt>
              <dd>від 380 грн</dd>
            </div>
            <a
              href="https://t.me/+380985353322"
              class="prices-telegram-link"
              rel="noopener noreferrer"
              aria-label="Посилання на Телеграм"
              target="_blank"
              >Замовити</a
            >
          </div>
          <div class="prices-text-list-item">
            <div class="prices-text-list-item-wrapper">
              <dt>
                Заміна ущільнювача<span
                  class="prices-points-first-part"
                  aria-hidden="true"
                  >........</span
                ><span class="prices-points-second-part" aria-hidden="true"
                  >................................................</span
                >
              </dt>
              <dd>від 149 грн</dd>
            </div>
            <a
              href="https://t.me/+380985353322"
              class="prices-telegram-link"
              rel="noopener noreferrer"
              aria-label="Посилання на Телеграм"
              target="_blank"
              >Замовити</a
            >
          </div>
          <div class="prices-text-list-item">
            <div class="prices-text-list-item-wrapper">
              <dt>
                Заміна відливів<span
                  class="prices-points-first-part"
                  aria-hidden="true"
                  >....................</span
                ><span class="prices-points-second-part" aria-hidden="true"
                  >.................................................</span
                >
              </dt>
              <dd>від 832 грн</dd>
            </div>
            <a
              href="https://t.me/+380985353322"
              class="prices-telegram-link"
              rel="noopener noreferrer"
              aria-label="Посилання на Телеграм"
              target="_blank"
              >Замовити</a
            >
          </div>
          <div class="prices-text-list-item">
            <div class="prices-text-list-item-wrapper">
              <dt>
                Герметизація вікон<span
                  class="prices-points-first-part"
                  aria-hidden="true"
                  >...........................</span
                ><span class="prices-points-second-part" aria-hidden="true"
                  >................................</span
                >
              </dt>
              <dd>від 665 грн</dd>
            </div>
            <a
              href="https://t.me/+380985353322"
              class="prices-telegram-link"
              rel="noopener noreferrer"
              aria-label="Посилання на Телеграм"
              target="_blank"
              >Замовити</a
            >
          </div>
          <div class="prices-text-list-item">
            <div class="prices-text-list-item-wrapper">
              <dt>
                Монтаж підвіконня<span
                  class="prices-points-first-part"
                  aria-hidden="true"
                  >..............</span
                ><span class="prices-points-second-part" aria-hidden="true"
                  >..............................................</span
                >
              </dt>
              <dd>від 745 грн</dd>
            </div>
            <a
              href="https://t.me/+380985353322"
              class="prices-telegram-link"
              rel="noopener noreferrer"
              aria-label="Посилання на Телеграм"
              target="_blank"
              >Замовити</a
            >
          </div>
          <div class="prices-text-list-item">
            <div class="prices-text-list-item-wrapper">
              <dt>
                Заміна скло пакету<span
                  class="prices-points-first-part"
                  aria-hidden="true"
                  >.......................</span
                ><span class="prices-points-second-part" aria-hidden="true"
                  >....................................</span
                >
              </dt>
              <dd>від 2322 грн</dd>
            </div>
            <a
              href="https://t.me/+380985353322"
              class="prices-telegram-link"
              rel="noopener noreferrer"
              aria-label="Посилання на Телеграм"
              target="_blank"
              >Замовити</a
            >
          </div>
          <div class="prices-text-list-item">
            <div class="prices-text-list-item-wrapper">
              <dt>
                Москітна сітка<span
                  class="prices-points-first-part"
                  aria-hidden="true"
                  >............................</span
                ><span class="prices-points-second-part" aria-hidden="true"
                  >...........................................</span
                >
              </dt>
              <dd>від 485 грн</dd>
            </div>
            <a
              href="https://t.me/+380985353322"
              class="prices-telegram-link"
              rel="noopener noreferrer"
              aria-label="Посилання на Телеграм"
              target="_blank"
              >Замовити</a
            >
          </div>
          <div class="prices-text-list-item">
            <div class="prices-text-list-item-wrapper">
              <dt>
                Монтаж нових ПВХ конструкцій<span
                  class="prices-points-first-part"
                  aria-hidden="true"
                  >..........</span
                ><span class="prices-points-second-part" aria-hidden="true"
                  >.................</span
                >
              </dt>
              <dd>від 485 грн</dd>
            </div>
            <a
              href="https://t.me/+380985353322"
              class="prices-telegram-link"
              rel="noopener noreferrer"
              aria-label="Посилання на Телеграм"
              target="_blank"
              >Замовити</a
            >
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
