<section class="shorts-section">
  <div class="container">
    <div class="shorts-text-wrapper">
      <h2 class="shorts-title" id="shorts-title">
        YouTube <span>shorts</span>
      </h2>
      <p class="shorts-pre-title">Короткі відео — реальні ремонти вікон</p>
    </div>
    <div
      class="shorts-swiper-init swiper"
      role="region"
      aria-roledescription="carousel"
      aria-labelledby="shorts-title"
    >
      <ul class="shorts-swiper swiper-wrapper manual-swiper-wrapper">
        <li class="swiper-slide shorts-swiper-wrapper">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/423OGZE3W0I"
              title="Заміна скло пакету Євродерево"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/oO78bGBFyuQ"
              title="Заміна скло пакету та зовнішня герметизація"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/hLM9C_XuIa0"
              title="Зовнішня герметизація та заміна ущільнювачів"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/V43LVyWMVyo"
              title="Зовнішня герметизація конструкцій"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/zcO8ZgcHXtQ"
              title="Зовнішня герметизація конструкції заміна ущільнювачів реголювання"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/OdbVmKFwIf4"
              title="Заміна ущільнювачів"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/a-v4McTB1V0"
              title="Ремонт вікон частина перша"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/6-R5GSXux0U"
              title="Ремонт вікон частина друга"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/8KMLTE8-oec"
              title="Ремонт вікон частина третя"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/XNMfBRflmcU"
              title="Заміна фурнітури та ущільнювачів"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/3FH1V4Q8ReA"
              title="Заміна конструкції"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/K0A26S8knC4"
              title="Комплексне обслуговування віконної конструкції"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/tICnU-sZE1c"
              title="Усування продувань, заміна ущільнювача вікна"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="shorts-card-wrapper">
            <iframe
              src="https://www.youtube.com/embed/IgTnHxGddWc"
              title="Зовнішня герметизація вікна"
              loading="lazy"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </li>
      </ul>
    </div>
    <div class="shorts-swiper-btn-wrapper">
      <button
        class="shorts-left-arrow-btn"
        type="button"
        aria-label="Попереднє відео"
      >
        <svg
          class="testimonials-svg"
          width="15"
          height="30"
          aria-hidden="true"
          focusable="false"
        >
          <use href="./img/sprite/sprite-two.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button
        class="shorts-right-arrow-btn"
        type="button"
        aria-label="Наступне відео"
      >
        <svg
          class="testimonials-svg"
          width="15"
          height="30"
          aria-hidden="true"
          focusable="false"
        >
          <use href="./img/sprite/sprite-two.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
