<section class="testimonials-section" id="testimonials">
  <div class="container" >
    <div class="testimonials-title-wrapper">
      <h2 class="testimonials-title">Відгуки</h2>
      <p class="textimonials-pre-title-text">
        Що нащі клієнти кажуть про нашу роботу в Google
      </p>
    </div>

    <div
      class="testimonials-swiper-init swiper"
      role="region"
      aria-roledescription="carousel"
      aria-labelledby="testimonials-title"
    >
      <ul class="testimonials-swiper swiper-wrapper manual-swiper-wrapper">
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class=""
                width="120"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite/sprite-two.svg?v=3#icon-stars"></use>
              </svg>
              <p class="testimonials-cards-name">Евгений Савин</p>
              <p class="testimonials-cards-text">
                Звертались в цю чудо компанію , дуже вдячні. Приїхав майстер
                зробив діагностику , пояснив проблему , пояснив що конкретно
                робив. Після їхнього візиту проблема була усунена швидко та
                професіонально Мені сподобався підхід Майстра, золоті руки,
                усунули проблему з вікнами. Підписали договір зробили роботу,
                надали гарантію на рік. <br />Рекомендую цю компанію дуже вдячні.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class=""
                width="120"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite/sprite-two.svg?v=3#icon-stars"></use>
              </svg>
            </div>
            <p class="testimonials-cards-name">Тетяна Ворона</p>
            <p class="testimonials-cards-text">
              Дякую майстрам за пророблену роботу! Якісно, швидко, професійно!
              Приїхали, прорахували, склали договір, і + гарантія на зроблену
              роботу! Приємні в спілкуванні Рекомендую.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class=""
                width="120"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite/sprite-two.svg?v=3#icon-stars"></use>
              </svg>
            </div>
            <p
              class="testimonials-cards-name"
              data-i18n="testimonials-third-card-quote"
            >
              Артем Шевченко
            </p>
            <p class="testimonials-cards-text">
              Оперативність та професіоналізм на висоті! Зателефонував, кинула
              фото вікна, яке потребувало професійного втручання. Впродовж двох
              годин приїхав майстер і протягом 20 хвилин проблему було вирішено.
              Швидко, якісно - всі задоволені, при потребі будемо звертатися.
              Щиро дякуємо!
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class=""
                width="120"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite/sprite-two.svg?v=3#icon-stars"></use>
              </svg>
            </div>
            <p class="testimonials-cards-name">Slava Tuzov</p>
            <p class="testimonials-cards-text">
              Гарна компанія, відрегулювали вікна чудово . Рекомендую!
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class=""
                width="120"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite/sprite-two.svg?v=3#icon-stars"></use>
              </svg>
            </div>
            <p class="testimonials-cards-name">Slava Bro</p>
            <p class="testimonials-cards-text">
              Звернувся за установкою нового вікна. Дякую хлопцям встановили
              чудово.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class=""
                width="120"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite/sprite-two.svg?v=3#icon-stars"></use>
              </svg>
            </div>
            <p class="testimonials-cards-name">Karina Anatolievna</p>
            <p class="testimonials-cards-text">
              Зіткнулася з проблемою дверей на балконі вони не
              зачинялись,майстри швидко приїхали надали консультацію вирішили
              проблему з дверима, а також і інші проблеми з вікнами бо майже всі
              вікна продували і кілька вікон важко відкривались, все зробили
              якісно і чудово, і доречі дуже бюджетно за всі виконані роботи
              взяли не космічні кошти.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class=""
                width="120"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite/sprite-two.svg?v=3#icon-stars"></use>
              </svg>
            </div>
            <p class="testimonials-cards-name">Евгений Савин</p>
            <p class="testimonials-cards-text">
              Звертались в цю чудо компанію, дуже вдячні. Приїхав майстер
              зробив діагностику, пояснив проблему, пояснив що конкретно
              робив. Після їхнього візиту проблема була усунена швидко та
              професіонально Мені сподобався підхід Майстра, золоті руки,
              усунули проблему з вікнами. Підписали договір зробили роботу,
              надали гарантію на рік. Рекомендую цю компанію дуже вдячні<div class=""></div>
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class=""
                width="120"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite/sprite-two.svg?v=3#icon-stars"></use>
              </svg>
            </div>
            <p class="testimonials-cards-name">Vi Shep</p>
            <p class="testimonials-cards-text">
              Чудовий сервіс. Швидко вирішили проблему з дверима. Дякую. Бажаю
              розвитку Вашій компанії.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class=""
                width="120"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite/sprite-two.svg?v=3#icon-stars"></use>
              </svg>
            </div>
            <p class="testimonials-cards-name">Marta</p>
            <p class="testimonials-cards-text">
              Вдячна майстрам за проведенну роботу по ремонту вікон, за чесну
              діагностику все сподобалося в день звернення провили ремонт не
              довелося чекати тижннями ще й гарантію надали супер рекомендую.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class=""
                width="120"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite/sprite-two.svg?v=3#icon-stars"></use>
              </svg>
            </div>
            <p class="testimonials-cards-name">Karina</p>
            <p class="testimonials-cards-text">
              Звернулася в цю компанію з проблемою продування вікон і хотіла
              замінити підвіконня, майстри приїхали швидко та працювали
              оперативно та охайно була здивована що сміття після робіт вони
              прибрали що є чудовим бонусом, роботою та професіоналізмом
              майстрів я задоволена, в квартирі дійсно стало набагато тепліше
              після ремонту вікон.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class=""
                width="120"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite/sprite-two.svg?v=3#icon-stars"></use>
              </svg>
            </div>
            <p class="testimonials-cards-name">Lena Hulinevych</p>
            <p class="testimonials-cards-text">
              Щиро рекомендую майстрів, перед замовленням провели оцінку робіт,
              все детально оглянули і надали якісну консультацію. Робота була
              виконана у великому обсязі у трьох кімнатах , результатом
              задоволені на всі сто відсотків. Майстри ввічливі і пунктуальні а
              головне справжні професіонали своєї справи!
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class=""
                width="120"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite/sprite-two.svg?v=3#icon-stars"></use>
              </svg>
            </div>
            <p class="testimonials-cards-name">Vlad Gritsun</p>
            <p class="testimonials-cards-text">
              Дуже задоволений результатом! Якісна, акуратна робота, виконана
              професійно та в обумовлені терміни. Дуже вдячний! Рекомендую!!!
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="card-wrapper">
            <div class="quote-svg-container">
              <svg
                class=""
                width="120"
                height="24"
                aria-hidden="true"
                focusable="false"
              >
                <use href="./img/sprite/sprite-two.svg?v=3#icon-stars"></use>
              </svg>
            </div>
            <p class="testimonials-cards-name">Ірина Акулібаба</p>
            <p class="testimonials-cards-text">
              Встановили навіс та зробили герметизацію піддашка.Задоволена
              результатом на 100 відсотків. Консультація і робота на вищому
              рівні.
            </p>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination swiper-pagination-manual"></div>
    </div>
    <div class="swiper-btn-wrapper">
      <button class="left-arrow-btn" type="button">
        <svg
          class="testimonials-svg"
          width="15"
          height="30"
          aria-hidden="true"
          focusable="false"
        >
          <use href="./img/sprite/sprite-two.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button class="right-arrow-btn" type="button">
        <svg
          class="testimonials-svg"
          width="15"
          height="30"
          aria-hidden="true"
          focusable="false"
        >
          <use href="./img/sprite/sprite-two.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
